.container {
  max-width: $normal-breakpoint;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;

  @include for-mobile-layout {
    max-width: initial;
  }

  @include for-tablet-layout {
    max-width: $mobile-breakpoint;
  }

  @include for-normal-layout {
    max-width: $tablet-breakpoint;
  }

  @include for-wide-layout {
    max-width: $normal-breakpoint;
  }
}

.main-layout {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: $header-height 1fr;
  grid-template-columns: em(20px) 1fr em(20px);
  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: em(10px) 1fr em(10px);
  }

  & > *:not(.full) {
    grid-column: 2;
    @media (max-width: $tablet-breakpoint) {
      grid-column: 1/-1;
    }
  }
  & .full {
    grid-column: 1/-1;
  }
}
// GRIDS
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}
